.navPrincipal a{
		color: white;
		text-decoration: none;
		font-family: 'Josefin Sans', sans-serif;
		font-size: 1.7vh;
	}

	.navPrincipal a:hover{
		color: black;
    }
    p#parrafoSobreMi.col.m7.offset-m3 
	{
		padding-top: 40%;
		font-family: 'Josefin Sans', sans-serif;
		font-size: 3vh;
		text-align: center;
	}

	p#parrafoSobreMiDos.col.m7.offset-m3 
	{
		padding-top: 4%;
		font-family: 'Josefin Sans', sans-serif;
		font-size: 3vh;
		text-align: justify;
	}